.Participation-container {
    width: 100%;
    height: 3900px;
    display: flex;
}
.Participation {
    width: 100%;
    height: 100vh;
    background-image: url('../Participation/imgs/Rectangle 288 (2).png');
    background-size: cover;
    background-position: center;
    &-text {
        width: 536px;
        height: 50px;
        font-family: 'Helvetica';
        font-size: 50px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 500px;
        // margin-left: 200px;
    }
    &-title {
        width: 733px;
        font-family: 'Helvetica';
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin-top: 20px;
        // margin-left: 200px;
    }
    &-imgs {
        width: 100%;
        // height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 180px;

    }
    &-project-card{
        position: relative;
        height: 450px;
        margin-bottom: 40px;

        &-text{
            position: relative;
            color: #FFFFFF;
            margin-top: 15px;
            font-family: Helvetica;
            margin-left: 20px;
            }
        &-title{
            position: relative;
            color: #FFFFFF;
            font-family: Helvetica;
            padding-top: 30px;
            margin-left: 20px;
        }
    }
    &-img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: absolute;
    }
    &-row-box{
        margin-top: 150px;

    }

    &-gap {
        width: 100%;
        margin-top: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text {
            width: 1017px;
            font-family: 'Helvetica';
            font-size: 40px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #000000;
            margin-top: 20px;
            margin-left: -270px;
        }
    }
    &-btn {
        margin-top: -53px;
        margin-left: 1200px;
    }
    &-img-text {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        // margin-left: 270px;
    }
    &-program-con{
        margin-top: 40px;
    }
    &-program{
        width: 1300px;
        height: 920px;
        top: 2683px;
        left: 150px;
        gap: 0px;
        border-radius: 20px 0px 0px 0px;
        opacity: 0px;
        margin-top: 150px;
    }
    &-program-text-h3{
        width: 636px;
        height: 40px;
        left: calc(50% - 636px/2 - 332px);
        top: calc(50% - 40px/2 + 655px);
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #000000;
    }
    &-program-text{
        width: 536px;
        height: 40px;
        font-family: Helvetica;
        margin-top: 50px;
    }
    &-program-title{
        width: 640px;
        height: 120px;
        font-family: Helvetica;
        gap: 0px;
        opacity: 0px;
        margin-top: 15px;
    }
    &-program-link{
            display: inline-block;
            margin-top: 40px;
            font-family: Helvetica;
            font-size: 17px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: -0.04em;
            text-align: left;
            color: #000000;
            text-decoration: none;
    }
}
