*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .header__container {
    width: 70%;
    border-radius: 12.8px;
    background: #8a8a8a33;
    border: 0.64px solid #FFFFFF66;
    backdrop-filter: blur(25.6px);
    padding: 0 30px;
    position: fixed;
    left: 50%;       /* Ставим элемент на 50% слева окна */
    transform: translate(-50%, -50%);    right: 100px;
    top: 100px;
    z-index: 100; /* Убедитесь, что элемент находится выше других, если нужно */
}

  .header hr {
    width: 100%;
    border: 0.64px solid #FFFFFF66
  
  }
  
  .header-head {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    padding-top: 15px;
    align-items: center;
  }
  .header-foot {
    padding: 10px 20px;
  }
    
  
    
    .header__nav ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
  
    }
    .header__nav ul li {
      margin: 5px;
  
      text-decoration: none;
    }
  .nav-link {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFFCC;
  
  
  }
    
  .nav-link:active, 
  .nav-link:focus,
  .nav-link:hover { /* Стили для активной ссылки */
    color: #ffffff; /* Цвет для активной ссылки */
    text-decoration: double;
    border-bottom: 2px solid #ffffff;
  }
  
    
  
    
  
  .header-head-left {
    display: flex;
    gap: 10px;
  }
  .btn-for-popup {
    background-color: #08258B;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    
  
  }
  .btn-for-popup p {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #ffffff;
  }
  
  .container-title {
    text-align: left;
    width: 550px;
    margin: 100px 0;
  }
  .title-header {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.06em;
    text-align: left;
    color: #FFFFFF;
    margin: 20px 0;
    
  }
  
  .text-header {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    margin: 20px 0;
    
  
  }
  
  .btn-header-title {
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #001C7C;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  
  .language-switcher {
    position: relative; /* Для позиционирования выпадающего меню */
  }
  
  .dropdown-button {
    background-color: #00000000; /* Цвет кнопки */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Отступы */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
  }
  
  .dropdown-content {
    display: block; /* Показываем меню */
    position: absolute; /* Абсолютное позиционирование */
    background-color: white; /* Цвет фона меню */
    min-width: 100px; /* Минимальная ширина */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Тень */
    z-index: 1; /* Уровень наложения */
  }
  
  .dropdown-item {
    color: black; /* Цвет текста */
    padding: 10px 15px; /* Отступы для элементов */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Элементы блочные */
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1; /* Цвет фона при наведении */
  }
  