@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform: translateX(-50%);
    opacity: 1;
  }
}

.Header {
  margin-top: 25px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff40;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffff40 solid 1px;
  border-radius: 20px;
  transition: 0.5s;
  animation: slideDown 0.5s ease-out;

  nav {
    display: flex;
    justify-content: center;
    border-top: #ffffff40 solid 1px;
    padding: 13px 67px; /* Нав пейдинг */
    width: 100%;

    .isActive {
      font-size: 16px;
      font-weight: normal;
      line-height: 16px;
      letter-spacing: -0.04em;
      text-decoration: solid;
      text-decoration: underline;
      color: #fff;
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 26px;

      li {
        list-style-type: none;
        a,
        button {
          white-space: nowrap;
          line-height: 16px;
          font-size: 16px;
          text-decoration: none;
          font-weight: lighter;
          color: #ffffff80;
          font-family: Helvetica;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  &-topline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__logo {
      padding: 15px 20px;
    }
    &__options {
      padding: 45px 20px 10px;
      height: auto;
      &-btn {
        padding: 10px 20px;
        background-color: #08258b;
        color: #fff;
        letter-spacing: -4%;
        font-size: 18px;
        font-weight: lighter;
        font-family: Helvetica;
        border-radius: 10px;
        width: max-content;
      }
    }
  }
}

.Header-scrolled {
  margin-top: 0px;
  position: fixed;
  top: 0;
  padding-top: 12px;
  width: 100%;
  height: 99px;
  background-color: #00000089;
  backdrop-filter: blur(20px);
  align-items: end;
  border-radius: 0px;
  border: none;
  &-elements{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  nav {
    display: flex;
    justify-content: center;
    border-top: #ffffff40 solid 1px;
    padding: 12px;

    .isActive {
      font-size: 16px;
      font-weight: normal;
      line-height: 16px;
      letter-spacing: -0.04em;
      text-decoration: solid;
      text-decoration: underline;
      color: #fff;
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 16px;

      li {
        list-style-type: none;
        a {
          line-height: 16px;
          font-size: 16px;
          text-decoration: none;
          font-weight: lighter;
          color: #ffffff80;
          font-family: Helvetica;
        }
      }
    }
  }
  &-topline {
    display: flex;
    justify-content: right;
    padding-bottom: 5.41px;
    &__logo {
      padding: 20px 15px;
    }
    &__options {
      &-btn {
        padding: 8px 16px;
        background-color: #08258b;
        color: #fff;
        letter-spacing: -4%;
        font-size: 16px;
        font-weight: lighter;
        font-family: Helvetica;
        border-radius: 10px;
        width: max-content;
      }
    }
  }
}
