.Ambassadorship{
    .mainscreen {
        display: flex;
        flex-direction: column;
        align-content: end;
        justify-content: end;
        width: 100%;
        height: 100vh;
        background-image: url("../Ambassadorship//imgs/Rectangle\ 288.png");
        padding: 70px 75px 150px;
        gap: 40px;
        background-repeat: round;

        &-text {
            height: 100px;
            width: 70%;
            color: white;
            font-family: Helvetica;
            font-size: 20px;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.04em;
            text-align: left;


            &__h1 {

                font-family: 'Helvetica';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 100%;
                display: flex;
                align-items: center;
                letter-spacing: -0.04em;
                text-transform: uppercase;

                color: #FFFFFF;


            }

            &__p {
                font-family: 'Helvetica';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                margin-top: 20px;
                display: flex;
                align-items: center;
                letter-spacing: -0.04em;
                color: #FFFFFF;
            }
        }
    }
    &-container{

        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 100px;
        &-links{
            width: 100%;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            &-link{
                font-family: Helvetica;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.04em;
                text-align: left;
                text-decoration: none;
                color:  #000000;
            }

        }

    }
    &-imgs{
        width: 100%;
        display: flex;
        margin-top: 100px;
        justify-content: center;
        &-alt{
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }
    }
    &-imgs-text{
        margin-top: 0px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        color: #000000;
    }

    &-imgs-alt-img{
      width: 100%;
      height: 230px;
      object-fit: cover;
    }
    &-padding{
        margin-top: 100px;
    }
}


@media screen and (max-width: 992px){
    .Ambassadorship-imgs-alt-img{
        height: 160px;
    }
    .Ambassadorship-imgs-text{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    .Ambassadorship-imgs-alt-img{
        height: 90px;
    }
    .Ambassadorship-imgs-text{
        font-size: 14px;
    }
    .Ambassadorship .mainscreen-text__h1{
        font-size: 40px;
        line-height: 100%;
    }
    .Ambassadorship .mainscreen-text__p {
        font-size: 20px;
    }

}

@media screen and (max-width: 576px){
    .Ambassadorship{
        .col-3{
            width: 50%;
        }
    }
    .Ambassadorship-imgs-alt-img{
        margin-top: 20px;
        height: 120px;
    }
    .Ambassadorship-imgs,
    .Ambassadorship-imgs-alt {
        flex-wrap: wrap;
    }
    .Ambassadorship .mainscreen-text{
        width: 100%;
    }

    .Ambassadorship .mainscreen-text__h1{
        font-size: 28px;
    }
    .Ambassadorship .mainscreen-text__p {
        font-size: 14px;
    }

    .Ambassadorship .mainscreen {
        padding: 20px 0px 140px;
    }

}
