.Ambassadorship{
    width: 100%;
    height: 900px;
    background-image: url('../Ambassadorship/imgs/Rectangle 288.png'); 
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    &-text{
        width: 469px;
        height: 50px;
        left: calc(50% - 469px/2 - 417.5px);
        margin-top: 700px;
        margin-left: 200px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 100%;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &-title{
        width: 733px;
        height: 60px;
        left: calc(50% - 733px/2 - 285.5px);
        margin-top: 20px;
        margin-left: 200px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    &-contoner{
        width: 1300px;
        height: 794px;
        left: 150px;
    }
    &-texts{
        width: 1300px;
        height: 794px;
        margin-left: 70px;
        margin-top: 40px;
    }
    &-link{
        border: none;
        margin-left: 70px;
        z-index: 0;
        width: 124px;
        height: 24px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #000000;
        order: 0;
        flex-grow: 0;
        text-decoration: none;
    }
    &-imgs{
        margin-top: -680px;
        display: flex;
        justify-content: space-evenly;
        &-alt{
            display: flex;
            justify-content: space-evenly;
        }
    }
    &-imgs-text{
        width: 294px;
        height: 40px;
        left: 150px;
        margin-top: 15px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        color: #000000;
    }
    &-imgs-alt{
        height: 500px;
    }
    &-imgs-alt-img{
        margin-top: 30px;
    }
}







