.footer {
  background-color: #0a30b433;
  padding: 50px 0px;
  &-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #00000040;
    &-logo{
      width: 250px;
      height: 90px;
    }
    &-contacts {
      width: 205px;
      height: 40px;
      padding: 36px 105px 67px 0px;
      display: flex;
      flex-direction: row;
      gap: 15px;
      &-web {
        width: 40px;
        height: 40px;
      }
    }
    &-column {
      padding-bottom: 24px;
      br{
        padding-bottom: 10px;
        width: 196px;
        height: 33px;
      }
      &-contacts {
        display: flex;
        flex-direction: column;
        gap: 8px;
        a {
          font-family: Helvetica;
          font-size: 16px;
          font-weight: 400;
          line-height: 24.84px;
          text-align: left;
          text-decoration: none;
        }
        h1 {
          font-family: Helvetica;
          font-size: 24px;
          font-weight: 400;
          line-height: 33.12px;
          text-align: left;
        }
      }
      h1 {
        font-family: Helvetica;
        font-size: 24px;
        font-weight: 400;
        line-height: 33.12px;
        text-align: left;
        padding-bottom: 10px;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        li {
          a {
            font-family: Helvetica;
            font-size: 16px;
            font-weight: lighter;
            line-height: 16px;
            letter-spacing: -0.04em;
            text-align: left;
            text-decoration: none;
            color: #00000080;
          }
        }
      }
      .isActive {
        font-family: Helvetica;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.04em;
        text-align: left;
        color: black;
        text-decoration: underline;
      }
    }
  }
}
