* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; // Скрыть горизонтальный скролл
}

.header {
  margin: auto;

  &__container {
    border: 3px solid rgba(175, 170, 170, 0.5);
    width: 90%;
    border-radius: 20px;
    margin: -10px auto;
  }

  hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &-head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }

  &-foot {
    padding: 20px;
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;

      li {
        margin: 5px;
        text-decoration: none;
      }
    }
  }
}

.t {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);

  &:active,
  &:focus {
    // Стили для активной ссылки
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #f7f3f3;
    text-decoration: double;
    border-bottom: 2px solid #ffffff;
  }
}

.header-head-left {
  display: flex;
  gap: 15px;
}

.btn-for-popup {
  background-color: #08258b;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;

  p {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #b61212;
  }
}

.container-title {
  padding: 20px;
  width: 700px;
  margin: 300px 90px;
}  
.title-header {
  font-family: Helvetica;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.06em;
  text-align: left;
  color: #fff;
}

.text-header {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgb(194, 182, 182);
  max-width: 600px;   /* Ограничивает ширину текста */
  padding-bottom: 20px;
}

.btn-header-title {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #001c7c;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.language-switcher {
  position: relative;

  .dropdown-button {
    background-color: transparent; // Цвет кнопки
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #520909;
      }
    }
  }
}

.events {
  .images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        flex: 1;
        margin: 0 5px;

        img {
            width: 100%;
            max-width: 300px;
            height: auto;
        }

        p {
            margin-top: 5px;
            font-size: 18px;
        }
    }

    // Адаптация для экрана с шириной 992px и меньше
    @media screen and (max-width: 992px) {
        .container {
            max-width: 720px;
        }

        // li:nth-child(4) {
        //     display: none; 
        // }

        li {
            width: calc(100% / 3 - 10px); 
        }
    }
}

  
}

.event-title {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0d0000;
}

.event-description {
  width: 640px;
  height: 96px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);

    &.black-dot {
      background-color: black;
    }
  }
}

.images-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;

  p {
    margin-top: 5px;
    font-size: 18px;
  }
}

.key-annual-title {
  margin: 15px;
  padding: 5px;
}

.video-content-container {
  display: flex;
  align-items: center;
  margin: 20px;

  .video1 {
    max-width: 640px;
    height: auto;
    cursor: pointer;
    margin-right: 20px;
  }

  .text-video1 {
    flex: 1;

   
    .text-video1 {
      padding-bottom: 15px;
      width: 640px;
      height: 96px;
      opacity: 0;
      text-align: left;
      color: rgba(0, 0, 0, 0.5);
      
    }
  }
}

.video-content-container-2 {
   margin-bottom: 20px;  
   .title-text-video2 {
     font-family: Helvetica;
     font-weight: bold;
     color: #000;
     margin: -200px 0 0 0;
     padding-bottom: 15px;  
     @media screen and (max-width: 992px){
      color: rgb(234, 14, 14);
      transform: translate(75px,203px);
      font-size: 18px;
      font-family: Helvetica;
     }
  }

  .text-video3 {
    font-family: Helvetica;
    width: 640px;
    height: auto;
    opacity: 1;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 15px;
    @media screen and (max-width: 992px){
      font-family: Helvetica;
      width: 420px;
      color: rgb(132, 118, 118);
      transform: translate(15px,220px,);
      font-size: 17px;
      margin-top: -30px;
      
     }
}
}

.key-annual-events {
  max-width: 1430px; // Максимальная ширина контейнера
  margin: 0 auto; // Центрируем контейнер на странице
  padding: 20px;
  border-radius: 8px; // Закругление углов

  .key-annual-title {
      font-size: 40px;
      margin-bottom: 20px;
      color: #000000;
      font-family: Helvetica;
  }

  .images-1 {
      display: flex;
      justify-content: flex-start; // Выравниваем элементы в начале
      flex-wrap: nowrap; // Не разрешаем перенос элементов на следующую строку
      gap: 15px; // Расстояние между элементами
      overflow-x: auto; // Добавляем горизонтальную прокрутку
      padding-bottom: 10px; // Отступ для предотвращения наложения на содержимое

      li {
          list-style: none; // Убираем маркеры списка
          flex: 0 0 calc(25% - 15px); // Каждый элемент занимает 25% ширины контейнера с учетом отступов
          box-sizing: border-box;
          text-align: center;

          img {
              width: 100%; // Устанавливаем ширину на 100%
              height: 200px; // Устанавливаем фиксированную высоту
              border-radius: 8px;
              object-fit: cover; // Изображения сохраняют пропорции и обрезаются при необходимости
          }

          p {
              margin-top: 10px;
              font-size: 16px;
              color: black;
              font-family: Helvetica;
          }
      }
  }

  // Адаптация для экрана с шириной 992px и меньше
  @media screen and (max-width: 992px) {
      .key-annual-events {
          max-width: 100vw; // Занимаем всю ширину экрана
          padding: 0; // Убираем внутренние отступы
      }

      .images-1 {
          gap: 10px; // Уменьшаем расстояние между элементами
      }

      .images-1 li {
          flex: 0 0 calc(50% - 10px); // Устанавливаем ширину для 2 элементов в строке на меньших экранах
          margin: 0; 
      }

      .images-1 img {
          height: 200px; // Фиксированная высота для изображений
          border-radius: 0; // Убираем закругление углов
      }
  }
  @media screen and (max-width: 768px){
    width: 900px;
  }
}



.events-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container-title {
  text-align: center;
}



.images, .images-1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.images li, .images-1 li {
  width: 24%;
}

.video-content-container,
.video-content-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  // Адаптивные стили для экрана 992px и меньше
  @media screen and (max-width: 992px) {
      flex-direction: column; // Переключаем на столбец для более компактного расположения
      align-items: flex-start; // Выравниваем элементы по левому краю
      margin-top: 20px; // Уменьшаем верхний отступ
  }
}


.video1, .video2 {
  width: 45%;
}
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 18px;
  height: 18px;
  background-color: gray;
  border-radius: 50%;
  margin: 3px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.black-dot {
  background-color: black;
}
.images {
  font-family: Helvetica;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    flex: 1;
    margin: 0 5px;

    img {
      width: 100%;
      max-width: 300px; // Замените на нужный размер
      height: auto;
    }

    p {
      margin-top: 5px;
      font-size: 18px;
      font-family: Helvetica;

    }
  }
}
.video-content-container img {
    width: 640px;
    max-width: 910px; // или другой размер, если необходимо
    
    // Адаптивные стили
    @media screen and (max-width: 992px) {
        width: 467px; // Устанавливаем ширину на 100% для адаптации под экран
        height: 286px;
        max-width: 910px; // Убираем максимальную ширину
    }
}


.overlay {
  display: flex;
  flex-direction: column;
  align-content: end;
  justify-content: end;
  width: 100%;
  height: 891px;
  background-image: url('./images/Rectangle 999.png');
  padding: 70px 75px 150px;
  gap: 40px;
  margin-bottom: 100px;  
  @media screen and (max-width: 768px) {
    width: 100vh;
} 
}
.event-text h1{
font-family: Helvetica;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.04em;
text-align: left;
color:black;
margin-bottom: 10px;
@media screen and (max-width: 768px) {
  margin-left: 10px;
}
}
.event-text h2 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #00000080;
  max-width: 640px;   
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    margin-left: 14px;
  }
}


.text-video22 {
font-family: Helvetica;
  width: 530px;
  height: auto;
  opacity: 1;
  text-align: left;
  color: rgba(72, 54, 54, 0.9);  
  @media screen and (max-width: 992px){
    width: 400px;
    margin-top: -80px;
    transform: translate(500px);
    font-size: 17px;
    line-height: 18.7px;
    size: 17px;
  } 
}

.video-content-container-2 img {
width: 640px;
max-width: 910px; // или другой размер, если необходимо

// Адаптивные стили
@media screen and (max-width: 992px) {
    width: 467px; // Устанавливаем ширину на 350px для адаптации под экран
    max-width: 100%; // Устанавливаем максимальную ширину на 100%
    margin-left: 450px;
}
}
.title-text-video1 {
font-family: Helvetica;
// font-size: 24px;
font-weight: bold;
color: #000;
margin: -200px 0 0 0;
padding-bottom: 15px;
@media screen and (max-width: 992px){
  color: red;
  font-size: 18px;
  // margin-left: 400px;
  padding-bottom: 0px;
  transform: translate(500px,-90px);
}
}



@media screen and (max-width: 992px) {
.text-video2 {
}
}




.event-section {
  @media screen and (max-width: 768px) {
    .images {
      width: 890px;
      display: flex;
      overflow-x: auto; /* Добавляем горизонтальный скролл */
      -webkit-overflow-scrolling: touch; /* Плавный скролл для мобильных устройств */
      padding-bottom: 10px; /* Небольшое пространство внизу для скролла */
    }

    .images li {
      width: 500px; /* Ширина для каждого элемента (можно настроить) */
      margin-right: -160px; /* Отступ между элементами */
      margin-left: 20px;
      flex: 0 0 auto; /* Устанавливаем фиксированную ширину для прокрутки */
    }
  }
}
