.slider-container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    width: 100%;
  }
  
  
  .slide-row {
    display: flex;
    gap: 25px;
    transition: transform 5s ease; // плавная анимация при переходе
  }
  
  .slide-item {
    text-align: left;
    margin-bottom: 50px;
    
    &-p {
      font-family: Helvetica;
      font-size: 20px;
      font-weight: 400;
      line-height: 27.6px;
      letter-spacing: -0.04em;
      text-align: left;
      margin-left: 5px;
    }
  }
  
  .slider-button {
    font-size: 42px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    color: #515151;
    margin-bottom: 10px;
  
    &:active {
      color: #51515180;
    }
  }
  
  .btn-block {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    width: 100%;
    padding: 10px;
  }
  

  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; // Отступ сверху для визуального разделения
  }
  
  .dot {
    width: 10px; // Ширина круга
    height: 10px; // Высота круга
    border-radius: 50%; // Делает элемент круглым
    background-color: #000; // Черный цвет
    margin: 0 5px; // Отступ между кругами
    cursor: pointer; // Указывает, что элемент кликабельный
    transition: background-color 0.3s ease; // Плавный переход цвета при наведении
  
    &.active {
      background-color: #515151; // Цвет активного круга
    }
  
    &:hover {
      background-color: #333; // Изменение цвета при наведении
    }
  }
  
  
  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    // Отступ сверху для визуального разделения
  }
  
  .dot {
    background: #D9D9D9;

    width: 18px; // Ширина круга
    height: 18px; // Высота круга
    border-radius: 50%; // Делает элемент круглым
    margin: 0 5px; // Отступ между кругами
    cursor: pointer; // Указывает, что элемент кликабельный
    transition: background-color 0.3s ease; // Плавный переход цвета при наведении
  
    &:active {
        background: #242424;
    }
  
    &:hover {
        background: #242424;
    }
  }
  